<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta http-equiv="Content-Style-Type" content="text/css">
  <title>隐私政策</title>
  <meta name="Generator" content="Cocoa HTML Writer">
  <meta name="CocoaVersion" content="1343.16">
  <style type="text/css">
    p.p2 {margin: 0.0px 0.0px 0.0px 0.0px; font: 12.0px 'Heiti SC Light'; color: #000000; -webkit-text-stroke: #000000; background-color: #f7f7f9}
    p.p3 {margin: 0.0px 0.0px 0.0px 0.0px; font: 12.0px Courier; color: #000000; -webkit-text-stroke: #000000; background-color: #f7f7f9; min-height: 14.0px}
    p.p4 {margin: 0.0px 0.0px 0.0px 0.0px; font: 12.0px Courier; color: #000000; -webkit-text-stroke: #000000; background-color: #f7f7f9}
    span.s1 {font-kerning: none; background-color: #f7f7f9}
    span.s2 {font-kerning: none}
    span.s3 {font: 12.0px Courier; font-kerning: none}
    span.s4 {font: 12.0px 'Heiti SC Light'; font-kerning: none}
  </style>
</head>
<body>
<h3 style="margin: 0.0px 0.0px 14.0px 0.0px; font: 14.0px 'Songti SC'; color: #000000; -webkit-text-stroke: #000000"><span class="s1"><b>隐私政策</b></span></h3>
<p class="p2"><span class="s2">童话故事宝宝及旗下</span><span class="s3">app</span><span class="s2">（后续简称本网站）</span><span class="s3"> </span><span class="s2">隐私权保护声明系本网站对于保护用户个人隐私之承诺。鉴于互联网的特性，本网站在运营过程中，将无可避免地与用户发生直接或间接的互动关系，故特此说明本网站对用户个人信息所采取的收集、使用和保护政策，请您务必仔细阅读。</span></p>
<p class="p3"><span class="s2"><span class="Apple-converted-space">      </span></span></p>
<p class="p3"><span class="s2"><span class="Apple-converted-space">      </span></span></p>
<p class="p2"><span class="s3"><span class="Apple-converted-space">      </span></span><span class="s2">关于非个人化信息</span></p>
<p class="p3"><span class="s2"><span class="Apple-converted-space">      </span></span></p>
<p class="p2"><span class="s3"><span class="Apple-converted-space">      </span></span><span class="s2">第一条</span><span class="s3"> </span><span class="s2">本站将通过用户的</span><span class="s3">IP</span><span class="s2">地址来收集非个人化的信息，例如浏览器和操作系统的种类、提供接入服务的</span><span class="s3">ISP</span><span class="s2">名称等，以优化在您计算机屏幕上显示的页面；并通过收集上述信息，进行访客流量统计。这些无关个人身份的信息能帮助本站辨别内容喜好的地区性分布，并保证本站进行推广活动的有效性。此外，本站也可能将这些信息披露给相关广告客户，使其知晓点击其广告的人数。</span></p>
<p class="p3"><span class="s2"><span class="Apple-converted-space">      </span></span></p>
<p class="p3"><span class="s2"><span class="Apple-converted-space">      </span></span></p>
<p class="p4"><span class="s2"><span class="Apple-converted-space">      </span></span><span class="s4">关于个人资料</span></p>
<p class="p3"><span class="s2"><span class="Apple-converted-space">      </span></span></p>
<p class="p2"><span class="s3"><span class="Apple-converted-space">      </span></span><span class="s2">第二条</span><span class="s3"> </span><span class="s2">当您在本网站进行用户注册登记、发表文章、参与公共论坛讨论等活动时，在您的同意及确认下，本网站将通过注册表格、订单等形式要求您提供一些个人资料。这些个人资料包括：</span><span class="s3"> <br>
1. </span><span class="s2">子女信息：</span><span class="s3"> </span><span class="s2">如孩子姓名、年龄、出生日期、教育状况等。</span><span class="s3"> <br>
</span><span class="s2">本站收集此类个人身份信息，主要是为保证注册用户能够更容易和更满意地使用本站提供的服务。</span><span class="s3"> <br>
</span><span class="s2">在未经您同意及确认之前，本网站不会将您为参加本网站之特定活动所提供的资料利用于其他目的。按照以下第六条的规定则不在此限。</span><span class="s3"><span class="Apple-converted-space"> </span></span></p>
<p class="p3"><span class="s2"><span class="Apple-converted-space">      </span></span></p>
<p class="p3"><span class="s2"><span class="Apple-converted-space">      </span></span></p>
<p class="p4"><span class="s2"><span class="Apple-converted-space">      </span></span><span class="s4">关于信息安全</span></p>
<p class="p3"><span class="s2"><span class="Apple-converted-space">      </span></span></p>
<p class="p2"><span class="s3"><span class="Apple-converted-space">      </span></span><span class="s2">第三条</span><span class="s3"> </span><span class="s2">本网站将对您所提供的资料进行严格的管理及保护，本网站将使用相应的技术，防止您的个人资料丢失、被盗用或遭篡改。</span></p>
<p class="p3"><span class="s2"><span class="Apple-converted-space">      </span></span></p>
<p class="p3"><span class="s2"><span class="Apple-converted-space">      </span></span></p>
<p class="p4"><span class="s2"><span class="Apple-converted-space">      </span></span><span class="s4">关于用户权利</span></p>
<p class="p3"><span class="s2"><span class="Apple-converted-space">      </span></span></p>
<p class="p2"><span class="s3"><span class="Apple-converted-space">      </span></span><span class="s2">第四条</span><span class="s3"> 1</span><span class="s2">、您对于自己的个人资料享有以下权利：</span><span class="s3"> <br>
a. </span><span class="s2">随时查询及请求阅览；</span><span class="s3"><br>
b. </span><span class="s2">随时请求补充或更正；</span><span class="s3"><br>
c. </span><span class="s2">随时请求删除；</span><span class="s3"><br>
d. </span><span class="s2">请求停止电脑处理及利用。</span><span class="s3"> <br>
2</span><span class="s2">、用户是唯一对自己的口令及其他帐户信息负有保密责任的人。当您在线时，请小心和负责。</span></p>
<p class="p3"><span class="s2"><span class="Apple-converted-space">      </span></span></p>
<p class="p3"><span class="s2"><span class="Apple-converted-space">      </span></span></p>
<p class="p2"><span class="s3"><span class="Apple-converted-space">      </span></span><span class="s2">关于用户信息限制利用原则</span></p>
<p class="p3"><span class="s2"><span class="Apple-converted-space">      </span></span></p>
<p class="p2"><span class="s3"><span class="Apple-converted-space">      </span></span><span class="s2">第五条</span><span class="s3"> </span><span class="s2">本网站唯在符合下列条件之一，方对收集的个人资料进行必要范围以外的利用：</span></p>
<p class="p2"><span class="s3"><span class="Apple-converted-space">      </span>1</span><span class="s2">、已取得您的书面同意；</span></p>
<p class="p2"><span class="s3"><span class="Apple-converted-space">      </span>2</span><span class="s2">、为免除您在生命、身体或财产方面的急迫危险；</span></p>
<p class="p2"><span class="s3"><span class="Apple-converted-space">      </span>3</span><span class="s2">、为防止他人权益的重大危害；</span></p>
<p class="p2"><span class="s3"><span class="Apple-converted-space">      </span>4</span><span class="s2">、为增进公共利益，且无害于您的重大利益。</span></p>
<p class="p3"><span class="s2"><span class="Apple-converted-space">      </span></span></p>
<p class="p3"><span class="s2"><span class="Apple-converted-space">      </span></span></p>
<p class="p2"><span class="s3"><span class="Apple-converted-space">      </span></span><span class="s2">关于个人资料披露之原则</span></p>
<p class="p3"><span class="s2"><span class="Apple-converted-space">      </span></span></p>
<p class="p2"><span class="s3"><span class="Apple-converted-space">      </span></span><span class="s2">第六条</span><span class="s3"> </span><span class="s2">当政府机关依照法定程序要求本网站披露个人资料时，本网站将根据执法单位之要求或为公共安全之目的提供个人资料。在此情况下之任何披露，本网站均免责。</span></p>
<p class="p3"><span class="s2"><span class="Apple-converted-space">      </span></span></p>
<p class="p3"><span class="s2"><span class="Apple-converted-space">      </span></span></p>
<p class="p4"><span class="s2"><span class="Apple-converted-space">      </span></span><span class="s4">关于公共论坛</span></p>
<p class="p3"><span class="s2"><span class="Apple-converted-space">      </span></span></p>
<p class="p2"><span class="s3"><span class="Apple-converted-space">      </span></span><span class="s2">第七条</span><span class="s3"> </span><span class="s2">本网站为您提供博客免费托管、聊天室、公告牌等服务。在这些区域内，您公布的任何信息都会成为公开的信息。因此，本站郑重提醒并请您慎重考虑是否有必要在这些区域公开您的个人信息。</span></p>
<p class="p3"><span class="s2"><span class="Apple-converted-space">      </span></span></p>
<p class="p3"><span class="s2"><span class="Apple-converted-space">      </span></span></p>
<p class="p2"><span class="s3"><span class="Apple-converted-space">      </span></span><span class="s2">关于未成年人隐私权的保护</span></p>
<p class="p3"><span class="s2"><span class="Apple-converted-space">      </span></span></p>
<p class="p4"><span class="s2"><span class="Apple-converted-space">      </span></span><span class="s4">第八条</span></p>
<p class="p2"><span class="s3"><span class="Apple-converted-space">      </span>1</span><span class="s2">、本网站将建立和维持合理的程序，以保护未成年人个人资料的保密性及安全性。本网站郑重声明：任何</span><span class="s3">16</span><span class="s2">岁以下的未成年人参加网上活动应事先得到家长或其法定监护人（以下统称为</span><span class="s3">“</span><span class="s2">监护人</span><span class="s3">”</span><span class="s2">）的可经查证的同意。</span></p>
<p class="p2"><span class="s3"><span class="Apple-converted-space">      </span>2</span><span class="s2">、监护人应承担保护未成年人在网络环境下的隐私权的首要责任。</span></p>
<p class="p2"><span class="s3"><span class="Apple-converted-space">      </span>3</span><span class="s2">、本网站收集未成年人的个人资料，仅为回覆未成人特定要求的目的，一俟回复完毕即从记录中删除，而不会保留这些资料做进一步的利用。</span></p>
<p class="p2"><span class="s3"><span class="Apple-converted-space">      </span>4</span><span class="s2">、未经监护人之同意，本网站将不会使用未成年人之个人资料，亦不会向任何第三方披露或传送可识别该未成年人的个人资料。本网站如收集监护人或未成年人的姓名或其他网络通讯资料之目的仅是为获得监护人同意，则在经过一段合理时间仍未获得同意时，将主动从记录中删除此类资料。</span></p>
<p class="p2"><span class="s3"><span class="Apple-converted-space">      </span>5</span><span class="s2">、若经未成年人之监护人同意，本网站可对未成年人之个人资料进行收集，本网站将向监护人提供：</span></p>
<p class="p2"><span class="s3"><span class="Apple-converted-space">      </span></span><span class="s2">（</span><span class="s3">1</span><span class="s2">）审视自其子女或被监护人收集之资料的机会；</span></p>
<p class="p2"><span class="s3"><span class="Apple-converted-space">      </span></span><span class="s2">（</span><span class="s3">2</span><span class="s2">）拒绝其子女或被监护人的个人资料被进一步的收集或利用的机会；</span></p>
<p class="p2"><span class="s3"><span class="Apple-converted-space">      </span></span><span class="s2">（</span><span class="s3">3</span><span class="s2">）变更或删除其子女或被监护人个人资料的方式。</span></p>
<p class="p2"><span class="s3"><span class="Apple-converted-space">      </span>6</span><span class="s2">、监护人有权拒绝本网站与其子女或被监护人做进一步的联络。</span></p>
<p class="p2"><span class="s3"><span class="Apple-converted-space">      </span>7</span><span class="s2">、本网站收集未成年人的个人资料，这些资料只是单纯作为保护未成年人参与网络活动时的安全，而非作为其它目的之利用。本网站保证不会要求未成年人提供额外的个人资料，以作为允许其参与网上活动的条件。</span></p>
<p class="p3"><span class="s2"><span class="Apple-converted-space">      </span></span></p>
<p class="p3"><span class="s2"><span class="Apple-converted-space">      </span></span></p>
<p class="p4"><span class="s2"><span class="Apple-converted-space">      </span></span><span class="s4">关于</span><span class="s2">Cookies</span></p>
<p class="p3"><span class="s2"><span class="Apple-converted-space">      </span></span></p>
<p class="p4"><span class="s2"><span class="Apple-converted-space">      </span></span><span class="s4">第九条</span></p>
<p class="p2"><span class="s3"><span class="Apple-converted-space">      </span>1</span><span class="s2">、</span><span class="s3">Cookies</span><span class="s2">是指一种技术，当使用者访问设有</span><span class="s3">Cookies</span><span class="s2">装置的本网站时，本网站之服务器会自动发送</span><span class="s3">Cookies</span><span class="s2">至使用者浏览器内，并储存到电脑硬盘内，此</span><span class="s3">Cookies</span><span class="s2">便负责记录日后您到访本网站的种种活动、个人资料、浏览习惯、消费习惯甚至信用记录。</span></p>
<p class="p2"><span class="s3"><span class="Apple-converted-space">      </span>2</span><span class="s2">、运用</span><span class="s3">Cookies</span><span class="s2">技术，本网站能够为您提供更加周到的个性化服务。本网站将会运用</span><span class="s3">Cookies</span><span class="s2">追访用户的内容浏览习惯，从而向您提供符合您喜好的内容，节省您的时间；另外，本站亦将会采用</span><span class="s3">Cookies</span><span class="s2">技术帮助您储存密码，以便您造访本网站时不必每次重复输入密码。</span></p>
<p class="p3"><span class="s2"><span class="Apple-converted-space">      </span></span></p>
<p class="p3"><span class="s2"><span class="Apple-converted-space">      </span></span></p>
<p class="p4"><span class="s2"><span class="Apple-converted-space">      </span></span><span class="s4">免责条款</span></p>
<p class="p3"><span class="s2"><span class="Apple-converted-space">      </span></span></p>
<p class="p2"><span class="s3"><span class="Apple-converted-space">      </span></span><span class="s2">第十条</span><span class="s3"> </span><span class="s2">除上述（六）之规定属免责外，下列情况时本网站亦毋需承担任何责任：</span></p>
<p class="p2"><span class="s3"><span class="Apple-converted-space">      </span>1</span><span class="s2">、由于您将用户密码告知他人或与他人共享注册帐户，由此导致的任何个人资料泄露。</span></p>
<p class="p2"><span class="s3"><span class="Apple-converted-space">      </span>2</span><span class="s2">、任何由于计算机问题、黑客政击、计算机病毒侵入或发作、因政府管制而造成的暂时性关闭等影响网络正常经营之不可抗力而造成的个人资料泄露、丢失、被盗用或被窜改等。</span></p>
</body>
</html>
